@using D20tools.Components.Pages
@inherits LayoutComponentBase

<div class="page h-100">
    <main class="h-100">
        <article class="content h-100 p-0">
            @Body
        </article>
    </main>
</div>