@rendermode InteractiveServer


<div class="d-flex flex-column">
    <h2>LOOT GENERATOR</h2>

    <div class="d-flex flex-row gap-2 justify-content-center mb-3">
        <button class="loot-button common-color">
            COMMON
        </button>
         <button class="loot-button rare-color">
            RARE    
        </button>
         <button class="loot-button epic-color">
            EPIC
        </button>
    </div>

    <div class="d-flex flex-column border border-1 rounded border-light p-4">
        <h2 class="mb-3">RUSTED SWORD</h2>
        <h5 style="color: gray;" class="fs-6">Rarity: <span class="fs-5 border border-1 rounded p-1 common-loot ">COMMON</span></h5>
        <h5 style="color: gray;" class="fs-6">Type: <span class="fs-5 text-white">MELEE WEAPON</span></h5>
        <h5 style="color: gray;" class="fs-6">Weight: <span class="fs-5 text-white">2 KG</span></h5>
        <span>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis repudiandae sequi a accusamus dignissimos cum quo. Eum inventore expedita porro alias omnis, dolor aperiam, quas facere perspiciatis odio, adipisci officia.</span>
    </div>
</div>