@rendermode InteractiveServer

<div class="d-flex flex-column text-white">

    <h2>DICE ROLLER</h2>

    <div class="d-flex align-items-center gap-3 mb-4">
        <input @bind-value=diceQuantity type="number" class="form-control bg-dark text-white border-secondary" style="width: 80px;" />
     
        <span>d</span>
    
        <select class="form-select bg-dark text-white border-secondary" style="width: 100px;" @bind=diceType>
            <option selected>20</option>
            <option>12</option>
            <option>10</option>
            <option>8</option>
            <option>6</option>
            <option>4</option>
        </select>
        <button class="btn text-white fw-bold flex-grow-1 button" style="background-color: #8B5CF6; border: none;" @onclick=TestButton>
            ROLL
        </button>
    </div>

    <div class="border border-secondary rounded p-4 text-center d-flex flex-column align-items-center justify-content-center" style="background-color: rgba(0,0,0,0.2);">
        <span class="text-white-50 small mb-1 fw-bold">TOTAL</span>
        <h1 class="display-3 fw-bold mb-1" style="color: #8B5CF6;">
            @diceTotal
        </h1>
        <span class="text-white-50 small">
            @diceIndividual
        </span>

    </div>

    
</div>

@code {
    int diceQuantity = 1;
    string diceType = "20";
    int diceTotal = 28;
    string diceIndividual = "[12], [16]";

    public void TestButton(){
        Console.WriteLine("teste do botao");
        
    }
}